# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints

# Testing / coverage
.pytest_cache/
htmlcov/
.coverage

# Project-specific
workdir/
*.pkl
